<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333389960230-fu7ktmeb0kgke8j86p7ojjon2d974lgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333389960230-fu7ktmeb0kgke8j86p7ojjon2d974lgt</string>
	<key>API_KEY</key>
	<string>AIzaSyALDuj4e3lHp_Hfq-lJJwrvy6MfTqt-g0o</string>
	<key>GCM_SENDER_ID</key>
	<string>333389960230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoshikim.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-ae717</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-ae717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333389960230:ios:b8730a54e295ea7cdf42e7</string>
</dict>
</plist>